[submodule "keyboard-driver_2.0-1_armhf/module"]
	path = beepy-kbd-2.11/module
	url = https://github.com/HackModsOrg/beepy-kbd
[submodule "beepy-lcd-1.0/module"]
	path = sharp-drm-2.0/module
	url = https://github.com/HackModsOrg/sharp-drm-driver
[submodule "beepy-symbol-overlay-1.0/module"]
	path = beepy-symbol-overlay-1.2/module
	url = https://github.com/ardangelo/beepy-symbol-overlay
[submodule "beepy-tmux-menus/module"]
	path = beepy-tmux-menus-1.0/module
	url = https://github.com/ardangelo/tmux-menus
[submodule "beepy-gomuks-1.0/module"]
	path = beepy-gomuks-0.3/module
	url = https://github.com/ardangelo/gomuks
[submodule "impala-wifi-1.0/module"]
	path = impala-wifi-0.3/module
	url = https://github.com/ardangelo/impala
