Source: blepis-kbd
Maintainer: LinaLinn <blepis@0xlina.gay>
Build-Depends: debhelper (>= 11), dkms

Package: blepis-kbd
Architecture: armhf arm64
Depends: ${misc:Depends}, i2c-tools
Provides: beepy-kbd
Recommends: beepy-symbol-overlay (>= 1.0)
Section: embedded
Description: Keyboard and firmware driver for the Blepis device
