Source: sharp-drm
Maintainer: LinaLinn <blepis@0xlina.gay>
Build-Depends: debhelper (>= 11), dkms

Package: sharp-drm
Architecture: armhf arm64
Depends: ${misc:Depends}
Section: embedded
Description: Display driver for the Beepy/Blepis device
